<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Restaurante CREPS</title>
</head>
<body>
    <h1>Categoria</h1>
    <ul>
        <li>
            <a href="{% url 'categoria-lista' %}">Categoria</a>
        </li>
        <li>
            <a href="{% url 'producto-lista' %}">Producto</a>
        </li>
    </ul>
    <hr>
    <div>
        {% block section %}
        {% endblock section %}
    </div>
    <div>
        {% block maincontent %}
        {% endblock maincontent %}
    </div>
</body>
</html>