h1 a {
    color: #FFFFFF;
    font-family: 'Kaushan Script', cursive;
}
body {
    padding-left: 100px;
}
.page-header {
    background-color: #D11C00;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}